/* Media variables */
a {
  text-decoration: none;
}

.site-footer .region-footer {
  max-width: 1250px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .site-footer .region-footer {
    max-width: 1000px;
  }
}
@media (max-width: 1024px) {
  .site-footer .region-footer {
    max-width: 850px;
  }
}
@media (max-width: 860px) {
  .site-footer .region-footer {
    max-width: 700px;
  }
}
@media (max-width: 768px) {
  .site-footer .region-footer {
    max-width: 580px;
  }
}
@media (max-width: 600px) {
  .site-footer .region-footer {
    max-width: 460px;
  }
}
@media (max-width: 480px) {
  .site-footer .region-footer {
    max-width: 320px;
  }
}

.site-footer #block-exam-logo-2 {
  background: #373645;
  text-align: center;
  height: 117px;
  width: 240px;
}
.site-footer #block-exam-logo-2 h2 {
  margin-bottom: 0;
  margin-top: 24px;
}
.site-footer #block-exam-logo-2 h2 a {
  color: #6e9bca;
  letter-spacing: 0.2px;
  font-weight: 400;
}
.site-footer #block-exam-logo-2 h3 {
  margin-top: -10px;
}
.site-footer #block-exam-logo-2 h3 a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}

.site-footer .block-social-media-links {
  position: relative;
}
.site-footer .block-social-media-links a span {
  opacity: 0;
}
.site-footer .block-social-media-links ul {
  display: flex;
}
.site-footer .block-social-media-links ul li {
  max-width: 32px;
}
.site-footer .block-social-media-links ul li a::before {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  display: inline-block;
}
.site-footer .block-social-media-links .social-media-link-icon {
  /* for another social link write:
  &--${name of social class} {
     &::before {
                background-image: url('../images/{icon}.png'), url('../../images/{icon}.png');
                // The second one url is for pages, because there is another path to images directory
     }
  }
  */
}
.site-footer .block-social-media-links .social-media-link-icon--facebook::before {
  background-image: url("../images/fb.png"), url("../../images/fb.png");
}
.site-footer .block-social-media-links .social-media-link-icon--twitter::before {
  background-image: url("../images/twit.png"), url("../../images/twit.png");
}
.site-footer .block-social-media-links .social-media-link-icon--linkedin::before {
  background-image: url("../images/in.png"), url("../../images/in.png");
}

/* Media variables */
.site-footer {
  background: #373645;
  height: 194px;
  margin-bottom: 10px;
}
.site-footer * {
  font-family: "Roboto Slab", serif;
}
.site-footer .region-footer {
  display: flex;
  justify-content: space-between;
}
.site-footer #block-exam-logo-2 {
  width: 170px;
  margin-top: 52px;
}
.site-footer .block-social-media-links .contextual {
  display: none;
}
.site-footer .block-social-media-links ul li {
  max-width: 18px;
  margin-top: 73px;
}
@media (max-width: 480px) {
  .site-footer {
    height: auto;
    overflow: hidden;
    margin-bottom: 0;
  }
  .site-footer .region-footer {
    flex-direction: column;
    justify-content: center;
  }
  .site-footer #block-exam-logo-2 {
    margin: 32px auto 0;
  }
  .site-footer #block-exam-socialmedialinks {
    display: flex;
    justify-content: center;
    height: 70px;
  }
  .site-footer #block-exam-socialmedialinks ul li {
    margin-top: 0;
  }
}

/*# sourceMappingURL=footer.css.map */
