/* Media variables */
a {
  text-decoration: none;
}

.site-header {
  max-width: 1250px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .site-header {
    max-width: 1000px;
  }
}
@media (max-width: 1024px) {
  .site-header {
    max-width: 850px;
  }
}
@media (max-width: 860px) {
  .site-header {
    max-width: 700px;
  }
}
@media (max-width: 768px) {
  .site-header {
    max-width: 580px;
  }
}
@media (max-width: 600px) {
  .site-header {
    max-width: 460px;
  }
}
@media (max-width: 480px) {
  .site-header {
    max-width: 320px;
  }
}

.site-header #block-exam-logo {
  background: #373645;
  text-align: center;
  height: 117px;
  width: 240px;
}
.site-header #block-exam-logo h2 {
  margin-bottom: 0;
  margin-top: 24px;
}
.site-header #block-exam-logo h2 a {
  color: #6e9bca;
  letter-spacing: 0.2px;
  font-weight: 400;
}
.site-header #block-exam-logo h3 {
  margin-top: -10px;
}
.site-header #block-exam-logo h3 a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}

.site-header .block-social-media-links-block {
  position: relative;
}
.site-header .block-social-media-links-block a span {
  opacity: 0;
}
.site-header .block-social-media-links-block ul {
  display: flex;
}
.site-header .block-social-media-links-block ul li {
  max-width: 32px;
}
.site-header .block-social-media-links-block ul li a::before {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  display: inline-block;
}
.site-header .block-social-media-links-block .social-media-link-icon {
  /* for another social link write:
  &--${name of social class} {
     &::before {
                background-image: url('../images/{icon}.png'), url('../../images/{icon}.png');
                // The second one url is for pages, because there is another path to images directory
     }
  }
  */
}
.site-header .block-social-media-links-block .social-media-link-icon--facebook::before {
  background-image: url("../images/fb.png"), url("../../images/fb.png");
}
.site-header .block-social-media-links-block .social-media-link-icon--twitter::before {
  background-image: url("../images/twit.png"), url("../../images/twit.png");
}
.site-header .block-social-media-links-block .social-media-link-icon--linkedin::before {
  background-image: url("../images/in.png"), url("../../images/in.png");
}

/* Media variables */
.site-header {
  margin-top: 40px;
  background: #ffffff;
  position: sticky;
  z-index: 10;
}
.site-header .site-header__inner__container {
  display: flex;
}
.site-header * {
  font-family: "Roboto Slab", serif;
}
.site-header .region-header {
  display: flex;
}
.site-header #block-exam-navigation {
  width: 80%;
}
.site-header .layout__region--content {
  display: flex;
}
.site-header .layout__region--content .menu--main {
  width: 80%;
}
.site-header .layout__region--content ul {
  margin: 0;
  height: 117px;
  align-items: center;
  display: flex;
}
.site-header .layout__region--content ul:not(:first-child) {
  justify-content: space-between;
}
.site-header .layout__region--content ul:not(:first-child) a {
  text-transform: uppercase;
  color: #222;
  font-size: 14px;
  font-family: "Mukta", sans-serif;
}
.site-header .layout__region--content .menu-item {
  text-transform: uppercase;
  position: relative;
}
.site-header .layout__region--content .menu-item::after {
  content: "";
  position: absolute;
  bottom: -47px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 101;
  background: #6e9bca;
  transition: height 0.5s ease;
}
.site-header .layout__region--content .menu-item:hover::after, .site-header .layout__region--content .menu-item:has(.is-active)::after {
  height: 7px;
}
.site-header .layout__region--content .menu-item:first-child {
  position: relative;
  margin-left: 8px;
}
.site-header .layout__region--content .menu-item:first-child a {
  opacity: 0;
}
.site-header .layout__region--content .menu-item:first-child::before {
  position: absolute;
  left: 50%;
  top: -4px;
  content: url("../images/Homepage-menu.png");
}
.site-header .layout__region--content .menu-item:first-child::after {
  width: 30px;
  left: 50%;
}
.site-header .block-social-media-links-block {
  margin-left: 20px;
}
.site-header .block-social-media-links-block li {
  width: 25px;
  margin-left: -1px;
  margin-top: 30px;
}
.site-header .block-views-blocksearch-page-block-1 {
  width: auto;
}
.site-header .block-views-blocksearch-page-block-1 form .form--inline {
  display: grid;
  margin-left: 20px;
  margin-top: 24px;
  grid-template-columns: repeat(6, 43px);
  gap: 0;
}
.site-header .block-views-blocksearch-page-block-1 form .form--inline input {
  height: 32px;
  border: 1px solid #666;
}
.site-header .block-views-blocksearch-page-block-1 form .form--inline .form-type-search-api-autocomplete {
  grid-column: 1/5;
}
.site-header .block-views-blocksearch-page-block-1 form .form--inline .form-type-search-api-autocomplete input {
  width: 100%;
  padding-left: 5px;
}
.site-header .block-views-blocksearch-page-block-1 form .form--inline .form-actions {
  grid-column: 5/6;
  position: relative;
}
.site-header .block-views-blocksearch-page-block-1 form .form--inline .form-actions input {
  cursor: pointer;
  width: 40px;
  height: 36px;
  background: none;
  border-radius: 0;
  color: transparent;
  position: relative;
  z-index: 10;
}
.site-header .block-views-blocksearch-page-block-1 form .form--inline .form-actions::after {
  position: absolute;
  right: 8px;
  top: 3px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  content: url("../images/search icon.png");
  opacity: 0.3;
  z-index: 9;
}
.site-header .region-primary-menu {
  display: flex;
}
.site-header .header-nav-wrapper {
  display: flex;
  width: calc(100% - 240px);
  flex-direction: row-reverse;
}
.site-header .header-nav {
  width: 100%;
}
@media (max-width: 1280px) {
  .site-header {
    margin-top: 30px;
  }
  .site-header .layout__region--content .menu--main {
    width: 80%;
  }
  .site-header .layout__region--content .menu--main ul a {
    font-size: 12px;
  }
  .site-header .layout__region--content .menu--main .menu-item:first-child {
    margin-left: -5px;
  }
  .site-header .layout__region--content .block-social-media-links-block {
    margin-left: 10px;
  }
  .site-header .block-views-blocksearch-page-block-1 form .form--inline {
    margin-left: 10px;
    grid-template-columns: repeat(6, 34px);
  }
  .site-header .block-views-blocksearch-page-block-1 form .form--inline .form-actions::after {
    right: 0;
  }
}
@media (max-width: 1024px) {
  .site-header .header-nav-wrapper {
    width: calc(100% - 200px);
  }
  .site-header #block-exam-logo {
    width: 200px;
  }
  .site-header #block-exam-logo h2 a {
    font-size: 24px;
  }
  .site-header #block-exam-logo h3 a {
    font-size: 14px;
  }
  .site-header .layout__region--content .menu--main {
    width: 440px;
  }
  .site-header .layout__region--content .block-social-media-links-block {
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .site-header .layout__region--content .block-social-media-links-block ul {
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: -10px;
  }
  .site-header .layout__region--content .block-social-media-links-block li {
    padding: 0 4px;
    height: 33px;
    margin-top: 0;
  }
  .site-header .block-views-blocksearch-page-block-1 form .form--inline {
    margin-left: 0;
    grid-template-columns: repeat(6, 30px);
  }
  .site-header .block-views-blocksearch-page-block-1 form .form--inline .form-actions::after {
    right: -5px;
  }
}
@media (max-width: 860px) {
  .site-header #block-exam-logo {
    position: relative;
    z-index: 91;
  }
  .site-header .block-views-blocksearch-page-block-1 form .form--inline {
    margin-left: 20px;
    grid-template-columns: repeat(6, 70px);
  }
  .site-header .block-views-blocksearch-page-block-1 form .form--inline input {
    height: 32px;
    border: 1px solid #666;
  }
  .site-header .block-views-blocksearch-page-block-1 form .form--inline .form-type-search-api-autocomplete {
    grid-column: 1/6;
  }
  .site-header .block-views-blocksearch-page-block-1 form .form--inline .form-actions {
    grid-column: 6/7;
  }
  .site-header .block-views-blocksearch-page-block-1 form .form--inline .form-actions::after {
    right: 35px;
  }
  .site-header #block-exam-navigation {
    overflow: hidden;
    height: 0;
    width: 100%;
    position: absolute;
    z-index: 90;
    padding-top: 80px;
    top: 110px;
    left: 0;
    opacity: 0;
    transition: height 0.5s ease-in-out, opacity 0.7s ease;
    background: #ffffff;
  }
  .site-header #block-exam-navigation.show {
    box-shadow: 0 7px 5px rgba(55, 54, 69, 0.5);
    height: 420px;
    opacity: 1;
  }
  .site-header .layout__region--content {
    flex-direction: column;
  }
  .site-header .layout__region--content .menu--main {
    width: 100%;
  }
  .site-header .layout__region--content .menu {
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  .site-header .layout__region--content .menu .menu-item {
    margin-top: 10px;
  }
  .site-header .layout__region--content .menu .menu-item:first-child::before {
    left: 40%;
  }
  .site-header .layout__region--content .menu .menu-item:first-child::after {
    left: 39%;
  }
  .site-header .layout__region--content .menu .menu-item a {
    font-size: 26px;
  }
  .site-header .layout__region--content .menu .menu-item::after {
    bottom: -7px;
  }
  .site-header .layout__region--content .block-social-media-links-block ul {
    flex-direction: row;
  }
  .site-header .layout__region--content .block-social-media-links-block {
    width: auto;
  }
  .site-header .layout__region--content .block-social-media-links-block ul {
    height: 50px;
    justify-content: center;
    margin-left: 3px;
  }
}
@media (max-width: 768px) {
  .site-header .block-views-blocksearch-page-block-1 form .form--inline {
    grid-template-columns: repeat(6, 50px);
  }
  .site-header .block-views-blocksearch-page-block-1 form .form--inline .form-actions::after {
    right: 14px;
  }
}
@media (max-width: 600px) {
  .site-header .header-nav-wrapper {
    width: auto;
  }
  .site-header .block-views-blocksearch-page-block-1 form .form--inline {
    margin-top: 0;
    margin-left: 10px;
    grid-template-columns: repeat(6, 40px);
  }
  .site-header .block-views-blocksearch-page-block-1 form .form--inline .form-actions::after {
    right: 6px;
  }
  .site-header .header-nav-wrapper {
    flex-direction: column-reverse;
  }
}
@media (max-width: 480px) {
  .site-header {
    margin-top: 0;
  }
  .site-header #block-exam-logo {
    width: 100%;
    height: 140px;
  }
  .site-header #block-exam-logo h2 a {
    font-size: 30px;
  }
  .site-header #block-exam-logo h3 {
    margin-top: 0;
  }
  .site-header #block-exam-logo h3 a {
    font-size: 18px;
  }
  .site-header .site-header__inner__container {
    flex-direction: column;
  }
  .site-header .block-views-blocksearch-page-block-1 form .form--inline {
    margin-top: 0;
    margin-left: 15px;
    grid-template-columns: repeat(6, 50px);
  }
  .site-header .block-views-blocksearch-page-block-1 form .form--inline .form-actions::after {
    right: 16px;
  }
  .site-header #block-exam-navigation {
    padding-top: 15px;
    top: 235px;
  }
}

.mobile-buttons {
  display: none;
  position: relative;
  z-index: 91;
}
@media (max-width: 860px) {
  .mobile-buttons {
    display: block;
  }
  .mobile-buttons .mobile-nav-button {
    background: transparent;
    margin-top: 40px;
    border: none;
  }
  .mobile-buttons .mobile-nav-button__line {
    transition: transform 0.75s ease, opacity 0.75s ease;
    display: block;
    width: 45px;
    height: 3px;
    background-color: #373645;
    margin: 6px 0;
  }
  .mobile-buttons.open .mobile-nav-button__line-1 {
    transform: translate(-10px) rotate(45deg) translate(13px);
  }
  .mobile-buttons.open .mobile-nav-button__line-2 {
    opacity: 0;
  }
  .mobile-buttons.open .mobile-nav-button__line-3 {
    transform: translate(-10px) rotate(-45deg) translate(15px);
  }
}
@media (max-width: 600px) {
  .mobile-buttons {
    display: flex;
    justify-content: right;
  }
  .mobile-buttons .mobile-nav-button {
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  .mobile-buttons {
    width: 100%;
    padding-bottom: 10px;
  }
  .mobile-buttons .mobile-nav-button {
    margin-right: 15px;
  }
}

/*# sourceMappingURL=header.css.map */
