/* Media variables */
/* Media variables */
a {
  text-decoration: none;
}

.content-section--projects .view-content-wrapper {
  background: repeating-linear-gradient(135deg, rgba(55, 54, 69, 0.2), rgba(55, 54, 69, 0.2) 2px, #ffffff 2px, #ffffff 7px);
}

/* Media variables */
/* Media variables */
a {
  text-decoration: none;
}

.content-section--projects .view-content-wrapper {
  background: repeating-linear-gradient(135deg, rgba(55, 54, 69, 0.2), rgba(55, 54, 69, 0.2) 2px, #ffffff 2px, #ffffff 7px);
}

.content-section--projects .field--name-field-link {
  position: absolute;
  bottom: 7px;
  left: 47%;
  transform: translateX(-53%);
}
.content-section--projects .view-content .views-row {
  text-align: center;
  background: #ffffff;
  padding-bottom: 37px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.7);
}
.content-section--projects .view-content .views-row .field--name-title a {
  letter-spacing: 1.3px;
}
.content-section--projects .view-content .views-row .field--name-field-service-type {
  font-size: 17px;
  font-weight: 400;
}
.content-section--projects .view-content .views-row .block-layout-builder:nth-child(2) {
  margin-top: 30px;
}
.content-section--projects .view-content .views-row .block-layout-builder:nth-child(3) {
  margin-top: 6px;
}
.content-section--projects .view-content .views-row .block-layout-builder:nth-child(4) {
  margin-top: 26px;
}
@media (max-width: 1280px) {
  .content-section--projects .view-content .views-row {
    max-width: 230px;
  }
  .content-section--projects .view-content .views-row .field--name-field-image img {
    max-width: 230px;
    height: auto;
  }
}
@media (max-width: 1024px) {
  .content-section--projects .view-content .views-row {
    max-width: 200px;
  }
  .content-section--projects .view-content .views-row .field--name-field-image img {
    max-width: 200px;
  }
  .content-section--projects .view-content .views-row .field--name-title a {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .content-section--projects .view-content {
    justify-content: space-evenly;
  }
  .content-section--projects .view-content .views-row {
    margin-bottom: 120px;
    width: 200px;
    max-width: 100%;
  }
  .content-section--projects .view-content .views-row .field--name-field-image img {
    max-width: 200px;
  }
}

.content-section--projects h2 {
  margin-bottom: 17px;
  margin-top: 161px;
  font-weight: 300;
}
.content-section--projects .view-content-wrapper {
  padding-top: 68px;
  padding-bottom: 110px;
}
.content-section--projects .view-content {
  text-align: center;
}
@media (max-width: 1280px) {
  .content-section--projects .view-content-wrapper {
    padding-bottom: 47px;
  }
  .content-section--projects .view-content .views-row .block-layout-builder:nth-child(2) {
    margin-top: 10px;
  }
}
@media (max-width: 860px) {
  .content-section--projects h2 {
    margin-top: 83px;
  }
  .content-section--projects .view-content .views-row {
    max-width: 160px;
  }
  .content-section--projects .view-content .views-row .field--name-field-image img {
    max-width: 160px;
  }
  .content-section--projects .view-content .views-row .field--name-title a {
    font-size: 18px;
  }
  .content-section--projects .view-content .views-row .field--name-body {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .content-section--projects h2 {
    margin-top: 54px;
  }
  .content-section--projects .view-content .views-row {
    margin-bottom: 50px;
    max-width: 140px;
  }
  .content-section--projects .view-content .views-row .field--name-title a {
    font-size: 18px;
  }
  .content-section--projects .view-content .views-row .field--name-field-image img {
    max-width: 140px;
  }
  .content-section--projects .view-content .views-row .field--name-title a {
    font-size: 16px;
  }
  .content-section--projects .view-content .views-row .field--name-field-service-type {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .content-section--projects .view-content {
    justify-content: space-evenly;
  }
  .content-section--projects .view-content .views-row {
    margin-bottom: 80px;
    max-width: 200px;
  }
  .content-section--projects .view-content .views-row .field--name-field-image img {
    max-width: 200px;
  }
}

/*# sourceMappingURL=section-projects.css.map */
