@import "variables";
@import "global";
@import "media";

#block-exam-views-block-about-us-block-1 {
  @extend %container;
  margin-top: -54px;
  border-top: 4px solid $black;
  border-bottom: 4px solid $mid-blue;
  padding: 12px 0;

  .layout__region--content {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }
  .field--name-title a {
    font-size: 32px;
    color: $black;
    font-weight: 700;
    letter-spacing: 1.6px;
  }
  .block-field-blocknodepagebody {
    width: calc(100% - 230px);
    padding-left: 16px;
    align-content: center;
    .field--name-body {
      color: $dark-grey;
      font-size: 20px;
    }
    p {
      margin: 0;
    }
  }
  .block-field-blocknodepagefield-link {
    background: $blue;
    align-content: center;
    text-align: center;
    margin-top: 5px;
    height: 30px;
    .field--name-field-link {
      width: 100px;
      padding: 5px 7px;
      a {
        color: $white;
        font-size: 15.5px;
      }
    }
  }

  @include breakpoint(largeTablet) {
    .block-field-blocknodepagebody .field--name-body {
      font-size: 16px;
    }
  }

  @include breakpoint(largePhone) {
    margin-top: -103px;
    .layout__region--content {
      text-align: center;
      flex-direction: column;
    }
    .block-field-blocknodepagebody {
      width: calc(100% - 20px);
      padding: 0 10px;
      margin: 20px 0;
    }
    .block-field-blocknodepagefield-link {
      margin: 0 20px;
      .field--name-field-link {
        width: 100%;
      }
    }
  }
}
