@import "variables";
@import "media";
a {
  text-decoration: none;
}
// It makes all blocks same width and center them(also for adaptive)
%container {
  max-width: 1250px;
  margin: 0 auto;
  @include breakpoint(desktop) {
    max-width: 1000px;
  }
  @include breakpoint(laptop) {
    max-width: 850px;
  }
  @include breakpoint(largeTablet) {
    max-width: 700px;
  }
  @include breakpoint(tablet) {
    max-width: 580px;
  }
  @include breakpoint(phablet) {
    max-width: 460px;
  }
  @include breakpoint(largePhone) {
    max-width: 320px;
  }
}

// Just styles of logo for header and footer
%logo {
  background: $dark-blue;
  text-align: center;
  height: 117px;
  width: 240px;

  h2 {
    margin-bottom: 0;
    margin-top: 24px;
    a {
      color: $blue;
      letter-spacing: 0.2px;
      font-weight: 400;
    }
  }
  h3 {
    margin-top: -10px;
    a {
      color: $white;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

// Replace default socials:facebook, twitter, linkedin(put into block field with socials)
%socials {
  position: relative;
  a span {
    opacity: 0;
  }
  ul {
    display: flex;
    li {
      max-width: 32px;
      a {
        &::before {
          content: '';
          background-repeat: no-repeat;
          background-size: contain;
          width: 25px;
          height: 25px;
          display: inline-block;
        }
      }
    }
  }
  .social-media-link-icon {
    &--facebook {
      &::before {
        background-image: url('../images/fb.png'), url('../../images/fb.png');
      }
    }

    &--twitter {
      &::before {
        background-image: url('../images/twit.png'), url('../../images/twit.png');
      }
    }

    &--linkedin {
      &::before {
        background-image: url('../images/in.png'), url('../../images/in.png');
      }
    }
    /* for another social link write:
    &--${name of social class} {
       &::before {
                  background-image: url('../images/{icon}.png'), url('../../images/{icon}.png');
                  // The second one url is for pages, because there is another path to images directory
       }
    }
    */
  }
}


// Just black-white background with diagonal lines
%black-white-background {
  background: repeating-linear-gradient(
      135deg,
      rgba($dark-blue, 0.2),
      rgba($dark-blue, 0.2) 2px,
      $white 2px,
      $white 7px
  );
}
// Next code for horizontal lines around titles
%titles {
  display: flex;
  text-transform: uppercase;
  &::before,
  &::after {
    content: "";
    flex: 1;
    height: 1px;
    margin: 18px 20px 0;
    background: $light-grey;
  }
}

// Links to content
%links {
  // Links mostly grey, color will be overridden for services block
  .field--name-field-link {
    a {
      text-transform: uppercase;
      color: $white;
      background: $darker-grey;
      padding: 1px 10px;
    }
    margin: 10px;
  }
}

%custom-date {
  display: flex;
  flex-direction: column;
  text-align: center;
  span {
    display: block;
  }
  .month {
    font-size: 28px;
    font-weight: 300;
    line-height: 1;
  }
  .day {
    font-size: 58px;
    line-height: 0.7;
    color: $mid-blue;
    font-weight: 600;
  }
  .year {
    font-size: 20px;
    line-height: 1;
    color: $light-grey;
  }
}
