@import "variables";
@import "media";

.block-extra-field-blocknodeteamflag-like {
  max-width: 20px;
  max-height: 20px;
  margin-top: 20px;
  overflow: hidden;
  .flag-like:hover {
    position: relative;
    a {
      opacity: 0;
    }

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      background: url("../images/like.svg") no-repeat center center;
      background-size: contain;
      opacity: 0.6;
      width: 1em;
      height: 1em;
    }
  }
  .action {
    &-flag {
      a {
        opacity: 0;
      }

      &::before {
        position: absolute;
        content: "";
        display: inline-block;
        background: url("../images/empty like.svg") no-repeat center center;
        background-size: contain;
        width: 1em;
        height: 1em;
      }
    }
    &-unflag {
      a {
        opacity: 0;
      }

      &::before {
        content: "";
        position: absolute;
        display: inline-block;
        background: url("../images/like.svg") no-repeat center center;
        background-size: contain;
        width: 1em;
        height: 1em;
      }
    }
  }
}

//.like--wrapper {
//  span {
//    display: none;
//  }
//  .fa-heart {
//    position: relative;
//    margin-top: 14px;
//    &::before {
//      content: "";
//      display: inline-block;
//      background: url("../images/empty like.svg") no-repeat center center;
//      background-size: contain;
//      width: 1em;
//      height: 1em;
//    }
//
//    &:hover::before {
//      background-image: url("../images/like.svg");
//      opacity: 0.5;
//    }
//  }
//
//  & input[type="checkbox"]:checked ~ .fa-heart::before {
//    background-image: url("../images/like.svg");
//  }
//}

