@import "media";
@import "variables";
@import "global";

.content-section {
  h2 {
    @extend %container;
    a {
      color: $black;
      text-transform: uppercase;
      font-size: 34px;
    }
    text-align: center;
    margin-top: 94px;
    margin-bottom: 89px;
    // Next code for horizontal lines
    display: flex;
    &::before,
    &::after {
      content: "";
      flex: 1;
      height: 1px;
      margin: 18px 20px 0;
      background: $grey;
    }
    //
  }
  .view-content {
    display: flex;
    @extend %container;
    text-transform: uppercase;
    justify-content: space-between;

    // Links mostly grey, color will be overridden for services block
    .field--name-field-link {
      a {
        color: $white;
        background: $darker-grey;
        padding: 1px 10px;
      }
      margin: 10px;
    }
  }
}

.content-section-4 {
  .view-content {
    .views-row {
      text-align: center;
      .block-field-blocknodeservicestitle {
        margin-top: 33px;
      }
      .field--name-title {
        a {
          color: $black;
          font-size: 24px;
        }
      }
      .field--name-body {
        font-size: 14px;
        margin-top: 10px;
        color: $grey;
      }
    }
  }

  @include breakpoint(desktop) {
    .view-content .views-row {
      max-width: 230px;

      .field--name-field-image {
        img {
          max-width: 230px;
          height: auto;
        }
      }
    }
  }

  @include breakpoint(laptop) {
    .view-content .views-row {
      max-width: 200px;

      .field--name-field-image {
        img {
          max-width: 200px;
          height: auto;
        }
      }
      .field--name-title a {
        font-size: 22px;
      }
    }
  }
}

.content-section--services {
  .view-content {
    // Overriding read more for services block
    .field--name-field-link {
      a {
        background: $mid-blue;
      }

      margin-top: 31px;
    }
  }
}

.content-section--projects {
  h2 {
    margin-bottom: 17px;
    font-weight: 300;
  }
  .view-content-wrapper {
    padding-top: 68px;
    padding-bottom: 157px;
    @extend %black-white-background;
  }
  .view-content .views-row {
    background: $white;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba($black, 0.7);


    .field--name-title {
      a {
        font-size: 26px;
        font-weight: 300;
        letter-spacing: 1.3px;
      }
    }
    .field--name-field-service-type {
      font-size: 17px;
      font-weight: 400;
    }
    .block-layout-builder {
      &:nth-child(2) {
        margin-top: 30px;
      }
      &:nth-child(3) {
        margin-top:6px;
      }
      &:nth-child(4) {
        margin-top:26px;
      }
    }
  }
  .view-pager {
    margin: 47px
  }

  @include breakpoint(desktop) {
    .view-content-wrapper {
      padding-bottom: 47px;
    }
    .view-content .views-row {
      .block-layout-builder:nth-child(2) {
        margin-top: 10px;
      }
    }
  }
}

.content-section--team {
  h2 {
    margin-bottom: 27px;
  }
  .view-content .views-row {
    .field--name-title {
      display: block;
      margin-top: 33px;

      a {
        font-size: 27px;
      }
    }
    .field--name-field-role {
      color: $light-grey;
      font-size: 14px;
      margin-bottom: 20px;
    }
    .layout--onecol {
      &:last-child {
        .layout__region {
          display: flex;
          max-width: 200px;
          margin: 0 auto;
          justify-content: space-between;
        }
      }
    }
    .block-field-blocknodeteamfield-socials {
      ul {
        display: flex;
        li {
          max-width: 32px;
          @extend %socials;
        }
      }
    }

    @include breakpoint(desktop) {
      .field--name-title {
        margin-top: 15px;
      }
    }

    @include breakpoint(laptop) {
      .field--name-title a {
        font-size: 24px;
      }
    }
  }
}

.content-section--news {
  h2 {
    margin-top: 132px;
    margin-bottom: 21px;
  }
  .view-content-wrapper, .view-filters {
    @extend %black-white-background;
  }
  .view-content-wrapper {
    padding-top: 11px;
    padding-bottom: 74px;
  }
  .view-filters {
    padding-top: 13px;
    background-position: -1px 0;
  }

  .node__content {
    display: flex;
    flex-direction: column;
  }
  .views-row {
    position: relative;
  }

  .field--name-field-link {
    position: absolute;
    bottom: -71px;
    right: 10px;
  }

  .views-exposed-form {
    @extend %container;
  }
  .form--inline {
    display: flex;
    width: 420px;
    background: $dark-white;
    margin-left: -5px;
  }
  .form-item {
    position: relative;
    margin: 5px 3px;
    input {
      border: 1px solid $light-grey;
      border-radius: 5px;
      height: 32px;
      width: 326px;
      padding-left: 13px;
      &::placeholder {
        color: $light-grey;
      }
    }
  }
  .form-actions {
    margin: 4px 0;
    input {
      width: 66px;
      height: 37px;
      color: $white;
      background: $normal-blue;
      border-radius: 5px;
      border: none;
    }
  }
  .layout--onecol {
    margin-top: 7px;
    margin-left: 92px;
    .field--name-title a {
      letter-spacing: 0.65px;
      color: $black;
      font-weight: 300;
      font-size: 28px;
      padding-left: 17px;
    }
    .field--name-body {
      font-size: 14px;
      margin-top: 11px;
      padding-right: 10px;
      padding-left: 17px;
      letter-spacing: -1.08px;
      margin-left: -2px;
      font-weight: 300;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: -3px;
        top: 3%;
        height: 167%;
        width: 1px;
        background-color: $grey;
      }
    }


  }

  .views-row {
    border-radius: 10px;
    background: $white;
    height: 290px;
    max-width: 610px;
  }
  .layout__region--first {
    max-width: 90px;
    position: relative;
    padding-top: 13px;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 20%;
      height: 75%;
      width: 1px;
      background-color: $grey;
    }
  }
  .block-field-blocknodearticlecreated {
    .field--name-created {
      display: flex;
      flex-direction: column;
      text-align: center;

      .month {
        font-size: 28px;
        font-weight: 300;
        line-height: 1;
      }
      .day {
        font-size: 58px;
        line-height: 0.7;
        color: $mid-blue;
        font-weight: 600;
      }
      .year {
        font-size: 20px;
        line-height: 1;
        color: $light-grey;
      }
    }
  }

  .layout__region--second {
    padding: 18px 0 0 18px;
    display: flex;
    .block-field-blocknodearticleuid {
      width: fit-content;
    }
    .layout--onecol {
      margin: 0;
      padding: 0;
      &::after {
        content: none;
      }
    }
    .profile .layout__region {
      display: flex;
      width: fit-content;
      .field--name-name {
        margin-top: -2px;
        display: flex;
        font-size: 13px;
        width: auto;
        &::before {
          content:"WRITER";
          padding: 0 5px 0 9px;
          color: $light-grey;
        }
        &::after {
          margin-left: 5px;
          content: "/";
        }
      }
    }
    .field--name-field-t {
      margin-top: -5px;
      margin-left: 5px;
      a {
        font-size: 13px;
        color: $blue;
      }
    }
    .block-field-blocknodearticlecreated {
      flex: 1;
      .field--name-created {
        margin-top: -2px;
        margin-right: -20px;
        time {
          color: $light-grey;
          font-size: 13px;
          text-align: right;
        }
      }
    }
  }
}

.content-section--clients {

}

.content-section-2 {
  @include breakpoint(desktop) {
    .views-row {
      max-width: 490px;
      height: 340px;
    }
    .layout--onecol::after {
      height: 145%;
    }
    .layout__region--second .block-field-blocknodearticlecreated .field--name-created {
      margin-right: -6px;
    }
  }

  @include breakpoint(laptop) {
    .layout__region--first {
      max-width: 80px;
    }
    .views-row {
      max-width: 410px;
      height: 340px;
    }
    .layout--onecol {
      margin-left: 82px;
      margin-top: 12px;
      .field--name-title a {
        font-size: 20px;
      }
      .field--name-field-link {
        bottom: -55px;
      }
    }
    .layout__region--second {
      position: relative;
      .block-field-blocknodearticlecreated .field--name-created {
        margin-right: 4px;
      }
      .field--name-field-t {
        position: absolute;
        bottom: 0;
      }
      .profile .layout__region {
        flex-direction: column;

        .field--name-name {
          margin-top: 5px;

          &::before {
            padding-left: 0;
          }
        }
      }
    }

  }

}
