@import "media";
@import "variables";
@import "global";

.content-section--team {
  h2 {
    margin-bottom: 27px;
    margin-top: 46px;
  }
  .contextual-region {
    position: static;
  }
  .field--name-field-link {
    position: absolute;
    width: 103px;
    bottom: -29px;
    left: 47%;
    transform: translateX(-52%);
  }

  .layout--onecol {
    &:last-child {
      position: absolute;
      bottom: -130px;
      left: 50%;
      transform: translateX(-50%);


      .layout__region {
        display: flex;
        width: 200px;
        margin: 0 auto;
        justify-content: space-between;
      }
    }
  }
  .view-content .views-row {
    position: relative;
    .field--name-title {
      display: block;
      margin-top: 33px;

      a {
        font-size: 27px;
      }
    }
    .field--name-field-role {
      color: $light-grey;
      font-size: 14px;
      margin-bottom: 20px;
    }

    .block-field-blocknodeteamfield-socials {
      ul {
        display: flex;
        li {
          max-width: 32px;
          @extend %socials;
        }
      }
    }


    @include breakpoint(desktop) {
      .field--name-title {
        margin-top: 15px;
      }
    }

    @include breakpoint(laptop) {
      .field--name-title a {
        font-size: 24px;
      }
    }
  }

  @include breakpoint(largeTablet) {
    .layout--onecol {
      &:last-child {
        .layout__region {
          width: 147px;
        }
      }
    }
  }

  @include breakpoint(tablet) {
    .view-content .views-row .field--name-title a {
      font-size: 20px;
    }
  }

}
