@import "media";
@import "variables";
@import "global";

.content-section--projects {
  h2 {
    margin-bottom: 17px;
    margin-top: 154px;
    font-weight: 300;
  }
  .view-content-wrapper {
    padding-top: 68px;
    padding-bottom: 157px;
    @extend %black-white-background;
  }
  .contextual-region {
    position: static;
  }
  .field--name-field-link {
    position: absolute;
    bottom: 7px;
    left: 47%;
    transform: translateX(-53%);
  }


  .view-content .views-row {
    position: relative;
    background: $white;
    padding-bottom: 37px;
    border-bottom: 1px solid rgba($black, 0.7);

    .field--name-title {
      a {
        font-size: 26px;
        font-weight: 300;
        letter-spacing: 1.3px;
      }
    }
    .field--name-field-service-type {
      font-size: 17px;
      font-weight: 400;
    }
    .block-layout-builder {
      &:nth-child(2) {
        margin-top: 30px;
      }
      &:nth-child(3) {
        margin-top:6px;
      }
      &:nth-child(4) {
        margin-top:26px;
      }
    }
  }

  @include breakpoint(desktop) {
    .view-content-wrapper {
      padding-bottom: 47px;
    }
    .view-content .views-row {
      .block-layout-builder:nth-child(2) {
        margin-top: 10px;
      }
    }
  }

  @include breakpoint(tablet) {
    .view-content .views-row {
      .field--name-title a {
        font-size: 18px;
      }
      .field--name-field-service-type {
        font-size: 14px;
      }
    }
  }
  @include breakpoint(phablet) {
    .view-content .views-row {
      margin-bottom: 80px;
    }
    h2 {
      margin-top: 34px;
    }
    .view-pager {
      margin-top: -5px;
      margin-bottom: 20px;
    }
  }
}
