$dark-blue: #373645;
$mid-blue: #1174cc;
$blue: #6e9bca;
$white: #ffffff;
$black: #222;
$darker-grey: #444;
$dark-grey: #666;
$grey: #888;
$light-grey: #CCC;
$light-sage: #d6ddca;
$light-green: #49c9af;
$purple: #8621d5;
$red: #e9695c;
$dark-red: #de3114;
$normal-blue: #47b4e2;
$dark-white: #f3f3f3;
