@import "../media";
@import "../variables";
@import "../global";

.basic-page-about {
  @extend %container;
  .block-field-blocknodepagetitle {
    text-align: center;
    margin: 56px auto 27px;
    .field--name-title {
      font-weight: 700;
      font-size: 32px;
      @extend %titles;
    }
  }
  .field--name-body {
    p {
      font-size: 28px;
      padding: 0 10px;
      margin: 20px 0;
    }
  }

  @include breakpoint(largeTablet) {
    .field--name-body {
      p {
        font-size: 20px;
      }
    }
  }
  @include breakpoint(phablet) {
    .field--name-body {
      p {
        font-size: 16px;
      }
    }
  }
}
