@import "../media";
@import "../variables";
@import "../global";
@import "../blocks/news-block";
@import "page-pager";

.news-page, .view-taxonomy-term:has(.node--type-article) {
  @extend %container;
  @extend %page-pager;
  @extend %news-block;

  h2 {
    @extend %titles;
    margin-top: 44px;
    margin-left: -8px;
    letter-spacing: -0.6px;
    margin-bottom: -3px;
  }

  .form--inline {
    margin-left: 0;
    margin-bottom: 100px;
  }

  .view-content {
    display: flex;
    flex-wrap: wrap;

    .field--name-field-link {
      bottom: 30px;
      right: 31px;

      a {
        color: $white;
        background: $darker-grey;
        padding: 1px 8px;
      }
    }

    .views-row {
      &:nth-child(2n) {
        margin-left: 30px;
      }

      margin-bottom: 34px;
    }
  }

  .view-pager {
    margin-bottom: 41px;
  }

  @include breakpoint(desktop) {
    .view-content .views-row {
      &:nth-child(2n) {
        margin-left: 20px;
      }
    }
  }

  @include breakpoint(largePhone) {
    .form--inline {
      margin-left: 9px;
      margin-bottom: 50px;
    }
    .view-content .field--name-field-link {
      bottom: 50px;
      right: 5px;
    }
  }
}
.taxonomy-news {
  h2 {
    margin-bottom: 70px;
  }
}
